body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/Model\ \(2\).jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    vertical-align: middle;
}

nav{
    display: flex;
    margin-right: 5px;
    float: right;
    align-items: center;
    justify-content: space-between;
}

.nav-bar{
    list-style: none;
    display: table;
    text-align: center;
}

.nav{
    display: table-cell;
    position: relative;
    padding: 15px 0;
    font-family: "Arial", sans-serif;

}

.nav-links{
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;

}

.nav-links::after{
    content: "";
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: grey;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0%;
    margin: 4px;
}

.nav-links:hover::after{
    width: 100%;
    left: 0%;
    background-color: rgb(88, 154, 173);
}
/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .logo {
        width: 60%;
    }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
    .logo {
        width: 80%;
    }
}
section{
    position: absolute;
    left: 30%;
    width: 400px;
    background-color: transparent;
    border: 2px solid rgb(88, 154, 173);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flexbox;
    padding: 2rem 3rem;
    top: 15%;
    height: auto;
}

.inputbox {
    position: relative;
    margin: 30px;
    max-width: 310px;
    border-bottom: 2px solid gray;
    
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50px);
    color: #000;
    font-size: 1 rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
input:focus ~ label, 
input:valid ~ label{
    top: -10px;
}
.inputbox input{
        width: 200px;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 0 35px 0 5px;
        color: #000;
    }
.inputfile label{
    font-size: 1rem;
    pointer-events: none;

}
.inputfile input{
    /* Make the file field invisible but keep it available for form submission */
    display:flex;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
    button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255,255,255,1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
button:hover{
    background-color:rgb(88, 154, 173);
    color: white;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    top: 20px;
}
h1 {
    font-size: 32px; /* Set the font size */
    color: white; /* Set the text color */
    text-align: center; /* Align the text to the center */
    margin-top: 20px; /* Add some top margin */
    font-family: Arial, sans-serif; /* Specify the font family */
}
h2{
    color: #000;
    text-decoration: underline solid rgb(88, 154, 173);
}
hr{
    color: rgb(88, 154, 173);
    font-weight: bold;
}
select{
    padding: 0 0 0 5px;
}
.remove input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255,255,255,1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
.remove input:hover{
    background-color:rgb(88, 154, 173);
    color: white;
}