section {
  position: absolute;
  left: 30%;
  width: 400px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  top: 15%;
}
h1 {
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  max-width: 310px;
  border-bottom: 2px solid gray;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(-50px);
  color: #000;
  font-size: 1 rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 200px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #000;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  top: 20px;
}
.forget {
  margin: 35px 0;
  font-size: 0.85rem;
  color: #000;
  display: flex;
  justify-content: space-between;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label input {
  margin-right: 3px;
}

.forget a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.forget a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.register {
  font-size: 0.9rem;
  color: #000;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("images/Model\ \(2\).jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  overflow: hidden;
}

nav {
  float: right;
  margin-right: 5px;
}

.nav-bar {
  list-style: none;
  display: table;
  text-align: center;
}

.nav {
  display: table-cell;
  position: relative;
  padding: 15px 0;
  font-family: "Arial", sans-serif;
}

.nav-links {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-links::after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0%;
  margin: 4px;
}

.nav-links:hover::after {
  width: 100%;
  left: 0%;
  background-color: rgb(88, 154, 173);
}
/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .logo {
    width: 60%;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
  .logo {
    width: 80%;
  }
}
